<% include ../partials/header.ejs %>
    <div id="albumInfoJumbotron" class="jumbotron">
      <div class="albumsContainer container">
        <div class="row">
            <div class="col-md-3 col-xs-4">
                <img id="largeAlbumImage" src="<%= album.albumArt %>" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-9 col-xs-8">
                <h3><%= album.albumName %></h3>
                <h5><%= album.artist.name %></h5>
            </div>
        </div>
      </div>
    </div>
    
    <div class="albumsContainer container">
        <h4>Tracks</h4>
        <table id="tracksTable" class="table table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Title</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <% album.tracks.forEach(function(track) { %>
                    <tr>
                        <td><%= track.order %></td>
                        <td><%= track.name %></td>
                        <td><%= track.duration %></td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
<% include ../partials/footer.ejs %>
